@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

@if (true)
{
    <p>Heisann</p>
}
else
{
    <p>Her kommer jeg nok aldri</p>
}

@for (var i = 0; i < 5; i++)
{
    <p>I er nå @i</p>
}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}